# Dependencies
node_modules/
.pnpm-store/

# Builds
dist/
build/
.next/
out/

# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.lerna/
.npm/
logs/
*.log

# Databases & Cache
/data
.eslintcache
.parcel-cache
.cache/

# System Files
.DS_Store
Thumbs.db
desktop.ini
